flask==2.1.1
google-auth-oauthlib==0.5.0
google-auth-httplib2==0.1.1
google-api-python-client==2.33.0
openai==0.27.0
pinecone-client==0.1.2
numpy==1.22.3
youtube_transcript_api==0.4.3
requests==2.27.1
beautifulsoup4==4.10.0
google-cloud-translate==3.3.2
typing-extensions==4.1.1
google-auth==2.5.0
google.oauth2.credentials
langdetect
protobuf==3.20.0
langchain.prompts 
langchain 
typing 
angchain.chat_models
langchain.schema
langchain.agents 
langchain.memory 
langchain.utilities
langchain.prompts 
langchain.llms
flask_socketio